.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    height: 100%;

}

.a-right{
    flex: 1;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;

}
.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.a-school-logo{
    width: 67%;
    height: 35%;
    border-radius: 20px;
}

a.title{
    font-weight: 400;  

}
.a-sub{
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
}

.a-edu-wrapper{
    
    display:flex;
    justify-content: center;
}
.a-edu-item{
    width: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start
}
.a-texts{
    display: flex;
    width: 73%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.a-edu-studied{
    font-weight: 500;
}
.a-edu-date{
    font-size: 12px;
    font-weight: 200;
}